{% for obj in bidding_chat %}
    {% if obj.user == request.user %}
        <li class="text-right list-group-item"><div class="text-left"> {{ obj.created }} </div>{{ obj.message }} << {{ obj.user.name }}</li>
    {% else %}
        <li class="text-left list-group-item"><div class="text-left"> {{ obj.created }} </div>{{ obj.message }} << {{ obj.user.name }}</li>
    {% endif %}
{% empty %}
    <li class="text-right list-group-item">No messages yet!</li>
{% endfor %}