{% load staticfiles %}

<html>

<head>
    <title>Chat Panel</title>
    <!-- Latest compiled and minified CSS` -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'chat.css' %}">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</head>

<body onload="time_now_is()">
{% include "header.html" %}
<div id="entire_1">
    <div id="chat-body" class="panel panel-default">
        <div class="panel-heading">Chat Box
            <div class="text-right"><a href="../../../" class="text-right">go to the home</a></div>
        </div>
        <div id="msg-list-div" class="panel-body">
            <ul id="msg-list" class="list-group" >
                {% for obj in chat %}
                    {% if obj.user == request.user %}
                        <li class="text-right list-group-item">{{ obj.message }} << {{ obj.user.name }}</li>
                    {% else %}
                        <li class="text-left list-group-item">{{ obj.message }} << {{ obj.user.name }}</li>
                    {% endif %}
                {% empty %}
                    <li class="text-right list-group-item">No messages yet!</li>
                {% endfor %}
                <script>
                    var chatlist = document.getElementById('msg-list-div');
                    chatlist.scrollTop = chatlist.scrollHeight;
                </script>
            </ul>
        </div>
    </div>
    <form id="chat-form" method="post">
        <div id="chat-bottom" class="input-group">
            <input type="text" id="chat-msg" name="chat-msg" class="form-control"/>
            <span class="input-group-btn">
                <input class="btn btn-default" id="send" type="submit" value="Send"/>
            </span>
        </div>
    </form>
</div>
<div id="entire_2">
<div id="chat-body" class="panel panel-default">
        <div class="panel-heading text-center" id="info_bidding"></div>
        <div class="panel-heading text-center" id="end_of_time">낙찰 경매 시작 시간 <br> {{ start_of_bidding }}</div>
        <div class="panel-heading text-center" id="info_now_time"></div>
        <div class="panel-heading text-center" id="info_bidding_time"></div>
        <div id="bidding-list-div" class="panel-body_bidding">
            <ul id="bidding-list" class="list-group" >
                {% for obj in bidding_chat %}
                    {% if obj.user == request.user %}
                        <li class="text-right list-group-item">{{ obj.message }} << {{ obj.user.name }}</li>
                    {% else %}
                        <li class="text-left list-group-item">{{ obj.message }} << {{ obj.user.name }}</li>
                    {% endif %}
                {% empty %}
                    <li class="text-right list-group-item">No messages yet!</li>
                {% endfor %}
                <script>
                    var chatlist = document.getElementById('bidding-list-div');
                    chatlist.scrollTop = chatlist.scrollHeight;
                </script>
            </ul>
        </div>
    </div>

    <form id="bidding-form" method="post">
        <div id="bidding-bottom" class="input-group">
            <input type="text" id="bidding-msg" name="bidding-msg" class="form-control" numberonly="true"/>
            <span class="input-group-btn">
                <input class="btn btn-default" id="send" type="submit" value="Bid"/>
            </span>
        </div>
    </form>
</div>
</body>
{% include "chat/template_including_chat_js_code.html" %}
</html>
