<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Title</title>
    <!-- Bootstrap Core CSS -->
    <link href="../../static/css/3-col-portfolio.css" rel="stylesheet">
    <link href="../../static/css/realtime_bidding.css" rel="stylesheet">
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body id="whole_page">
{% include "header.html" %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">로그인 페이지
            <small>가입시 작성하신 이메일을 아이디로 사용하세요!</small>
        </h1>
    </div>
</div>

<form class="form-horizontal" method="post" action=".">
    {% csrf_token %}
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-6">
            <input type="email" class="form-control" id="id" placeholder="Email" name="username">
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-6">
            <input type="password" class="form-control" id="password" placeholder="Password" name="password">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Remember me
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="submit" type="submit" class="btn btn-default">Log in</button>
        </div>
    </div>
    <div id="naver_id_login" style="padding-left: 17%"></div>
</form>
<script src="../../../static/js/jquery.js"></script>
<script type="text/javascript" charset="utf-8" src="../../../static/js/jquery_cookie/jquery.cookie.js"></script>
<script type="text/javascript" charset="utf-8" src="../../../static/naver_login/naverLogin_latest.js"></script>
<script type="text/javascript">
    var naver_id_login = new naver_id_login("sxBMyMNzazWu83yKLKq8", "http://127.0.0.1:8000/chat/login");
    var state = naver_id_login.getUniqState();
    naver_id_login.setButton("white", 3, 50);
    naver_id_login.setState(state);
    naver_id_login.init_naver_id_login();
    naver_id_login.get_naver_userprofile("a()");
    function a (){
        email = naver_id_login.getProfileData('email');
        naver = naver_id_login.getProfileData('id');
        $('#whole_page').hide();
        $('#id').val(email);
        $('#password').val(naver);
        $('#submit').click();
    }

</script>
</body>