{% for obj in chat %}
    {% if obj.user == request.user %}
        <li class="text-right list-group-item">{{ obj.message }} << {{ obj.user.name }}</li>
    {% else %}
        <li class="text-left list-group-item">{{ obj.message }} << {{ obj.user.name }}</li>
    {% endif %}
{% empty %}
    <li class="text-right list-group-item">No messages yet!</li>
{% endfor %}