<script type="text/javascript">

    var compare_price="{% for pro in product %}{{ pro.bidding_price }}{% endfor %}";

$('#chat-form').on('submit', function(event){
    event.preventDefault();

    $.ajax({
        url : '/chat/post/'+room_number.toString()+"/",
        type : 'POST',
        data : { msgbox : $('#chat-msg').val() },

        success : function(json){
            $('#chat-msg').val('');
            $('#msg-list').append('<li class="text-right list-group-item">' + json.msg + '<< {{ user_me.name }}</li>');
            var chatlist = document.getElementById('msg-list-div');
            chatlist.scrollTop = chatlist.scrollHeight;
        }
    });
});

$('#bidding-form').on('submit', function(event){
    event.preventDefault();
    var post_msg = $('#bidding-msg').val();

    try {
        if(!$.isNumeric(post_msg)) throw "err";
    }
    catch (e) {
        if(e=="err"){
            alert("You need to input Number!");
            $('#bidding-msg').val('');
            return;
        }
    }

    $.ajax({
        url : '/chat/bidding_post/'+room_number.toString()+"/",
        type : 'POST',
        data : { msgbox : post_msg },

        success : function(json){

            if(json.chat_is_done){
                alert("Bidding is done ! Thanks for your using ! Move to mainpage !");
                location.href='/../..';
                return;
            }

            if(json.bigger_msg){
                alert(json.bigger_msg)
                $('#bidding-msg').val('');
                return;
            }

            $('#bidding-msg').val(''); // 엔터치고나서 다시 입력폼을 비워줌
            $('#bidding-list').append('<li class="text-right list-group-item">' + json.msg + '<< {{ user_me.name }} </li>'); // 내용 붙여주기

            if( json.is_10min_post == "show" ){
                $('#info_bidding_time').html('최종 낙찰되는 시간 :'+json.bid_time+'<br>그 전에 높은 입찰가를 입력해 주세요!');
                $('#info_bidding').html('bidding&nbsp&nbsp&nbsp&nbsp현재 최고 낙찰가 : '+json.msg +" 원 - {% for a in product %}{% for b in a.buyer_id.all %}{{ b }}{% endfor %}{% endfor %}님");
            }
            else{
                $('#info_bidding_time').html('경매가 시작하고 10분이 경과한 이후부터 <br> 낙찰 완료 예정 시간이 표시됩니다!');
                $('#info_bidding').html('Have a nice Bidding ! <br> 현재 최고 낙찰가 : '+json.msg +" 원 - {% for a in product %}{% for b in a.buyer_id.all %}{{ b.name }}{% endfor %}{% endfor %}님");

            }
            var chatlist = document.getElementById('bidding-list-div');
            chatlist.scrollTop = chatlist.scrollHeight;
        }
    });
});

function getMessages(room_number){
    if (!scrolling) {
        $.get('/chat/messages/'+room_number, function(messages){
            $('#msg-list').html(messages);
            var chatlist = document.getElementById('msg-list-div');
            chatlist.scrollTop = chatlist.scrollHeight;
        });
        $.get('/chat/bidding_messages/'+room_number, function(messages){
            $('#bidding-list').html(messages);
            var chatlist = document.getElementById('bidding-list-div');
            chatlist.scrollTop = chatlist.scrollHeight;
        });

    }
    scrolling = false;
}
var room_number = {{ room_number }};
var scrolling = false;

$(function(){

    $('#msg-list-div').on('scroll', function(){
        scrolling = true;
    });
    console.log(room_number);
    refreshTimer = setInterval(function() { getMessages(room_number); }, 2500);
});

$(document).ready(function() {
     $('#send').attr('disabled','disabled');
     $('#chat-msg').keyup(function() {
        if($(this).val() != '') {
           $('#send').removeAttr('disabled');
        }
        else {
        $('#send').attr('disabled','disabled');
        }
     });
    var check = "{{ is_10min }}";

    if(check == "show"){
                $('#info_bidding_time').html('최종 낙찰되는 시간 :{{ object.rest_of_bidding }}<br>그 전에 높은 입찰가를 입력해 주세요!');
                $('#info_bidding').html('bidding &nbsp&nbsp&nbsp&nbsp 현재 최고 낙찰가 : {% for pro in product %}{{ pro.bidding_price }}{% endfor %} 원');
            }
            else{
                $('#info_bidding_time').html('경매가 시작하고 10분이 경과한 이후부터 <br> 낙찰 완료 예정 시간이 표시됩니다!');
                $('#info_bidding').html('Have a nice Bidding ! <br> 현재 최고 낙찰가 : {% for pro in product %}{{ pro.bidding_price }}{% endfor %} 원');

            }
 });

// using jQuery
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

$(document).on("keyup", "input:text[numberOnly]", function() {$(this).val( $(this).val().replace(/[^0-9]/gi,"") );});


function now_is() {
    var now_1 = new Date();
    var h = now_1.getHours();
    var m = now_1.getMinutes();
    var s = now_1.getSeconds();
    return time = h+":"+m+":"+s;
}

function time_now_is() {
    var time = now_is();
    $('#info_now_time').html('<p align="right"> 현재 시간 :'+time+'</p>');
    var t=setTimeout(function(){time_now_is()},1000);
}
</script>