body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

#page_left {
    float: left;
    width: 48%;
    padding-right: 1%;
}

#page_right {
    float: left;
    width: 48%;
    padding-left: 1%;
}

.table {
}
.container_mypage {
  padding-right: 30px;
  padding-left: 30px;
}