p {
    color: #FCA205;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
    margin-right: auto;

}

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}