
#chat-bottom {
    bottom: 10px;
}

#info_now_time {
    height: 7%;
    width: 50%;
    align : center;
}

#info_bidding_time{
    height: 7%;
}

#end_of_time{
    height : 7%;
    float : right;
    width: 50%;
    align : center;
}

.panel-body {
    overflow-y: scroll;
    height: 85%;
}

.panel-body_bidding {
    padding: 15px;
    overflow-y: scroll;
    height: 70%;
}

.list-group-item {
    color : black;
    background-color: white;
}

#entire_1{
    float : left;
    width : 70%;
}

#entire_2{
    float : left;
    width : 30%;
}

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}