<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../../../static/css/realtime_bidding.css" rel="stylesheet">
    <link href="../../../static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
{% include "header.html" %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">물품 상세 정보
            <small>{{ object.product_name }}</small>
        </h1>
    </div>
</div><br><br>

<div class="container">
    <div style = "width:45%;float:left;"><img class="img-responsive" src="{{ object.pro_image|cut:'realtime_bidding' }}" alt="" style="width:400px;height:210px;"></div>
    <div style = "width: 45%;float:left;"><table class="table table-condensed">
        <tr>
            <td>물품 이름</td>
            <td>{{ object.product_name }}</td>
        </tr>
        <tr>
            <td>최종 낙찰 가격</td>
            <td>{{ object.bidding_price }}</td>
        </tr>
        <tr>
            <td>판매자</td>
            <td>{% for a in object.seller_id.all %}{{ a.name }}{% endfor %}</td>
        </tr>
        <tr>
            <td>구매자</td><td>{% for a in object.buyer_id.all %}{{ a.name }}{% endfor %}</td>
        </tr>
        <tr>
            <td>물품 정보</td><td>{{ object.information }}</td>
        </tr>
        <tr>
            <td colspan="2" align="center"><input class="btn btn-default" type="button" value="거래완료하기" onclick="showConfirm();" /></td>
        </tr>
    </table></div>

</div>

<script>
    function showConfirm() {
 if (confirm("금액을 맞게 받으셨습니까? 확인 버튼을 누르신 이후에는 거래가 완전히 완료 됩니다."))
  {
      location.href='http://127.0.0.1:8000/branch/confirm/{{ object.product_id }}';
  } else {
   alert("취소 되었습니다.");
  }
 }

</script>
</body>
</html>