    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://127.0.0.1:8000/">Realtime-Bidding </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                        {% if not user.is_authenticated %}
                            <li>
                                <a href="http://127.0.0.1:8000/chat/login">
                                    Log in
                                </a>
                            </li>
                            <li>
                                <a href="http://127.0.0.1:8000/branch/register_page ">Register</a>
                            </li>
                        {% else %}
                            <li>
                                <a href="http://127.0.0.1:8000/branch/my_page">My page</a>
                            </li>
                            <li>
                                <a href="http://127.0.0.1:8000/chat/logout">Log out</a>
                            </li>
                        {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>