<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>3 Col Portfolio - Start Bootstrap Template</title>
    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/realtime_bidding.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/3-col-portfolio.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
{% include "header.html" %}
    <!-- Page Content -->
    <div class="container">

        <!-- Page Header -->
            <div class="col-md-6" style="height: 150px;;">
                <h1 class="page-header">    Bidding-Service
                    <small>DEMO version</small>
                </h1>
            </div>
        <div class="col-md-6" style="height:150px;">
            <div id="naver_id_register" align="right">
                <br><br><br>
                {% if user.is_authenticated %}
                    반갑습니다! {{ test_user.name }} 회원님.<br>
                    {{ test_user.email }}<br>
                {% else %}
                    <p>Welcome, Guest <br>서비스를 이용하려면 로그인 하세요!</p>
                {% endif %}
            </div>
        </div>

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 portfolio-item">
                <a href="/chat/forms/">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="#">New Deal</a>
                </h3>
                <p>If you want to start deal, click this.</p>
            </div>
            {% for i in object_list %}
            <div class="col-md-4 portfolio-item" style="overflow-y:hidden; word-break:break-all; height: 370px;">
                {% for j in i.product_set.all %}
                <a href="/chat/home/{{ i.room_id }}">
                    {% load static %}
                    <img class="img-responsive" src="{{ j.pro_image|cut:'realtime_bidding' }}" alt="" style="width:400px;height:210px;">
                </a>
                    <h3>
                        <a href="#">{{ j.product_name }}</a>
                    </h3>
                    {% for z in j.seller_id.all %}
                        Seller ID : {{ z }}<br>
                    {% endfor %}
                    Start price : {{ j.start_price }}<br>
                    Bidding price : {{ j.bidding_price }}<br>
                    Information : {{ j.information }}<br>
                {% endfor%}
            {# <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p> #}
            </div>
            {% endfor %}
        </div>

        <hr>

        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        {% if page_obj.has_previous %}
                            <a href="/?page={{ page_obj.previous_page_number }}">&laquo;</a>
                        {% else %}
                            <a href="#">&laquo;</a>
                        {% endif %}
                        {# <a href="#">&laquo;</a> #}
                    </li>
                    {% for page in page_obj.paginator.page_range %}
                        {% if page_obj.number == page %}
                            <li class="active"><a href="?page={{ page }}">{{ page }}</a></li>
                        {% else %}
                            <li><a href="?page={{ page }}">{{ page }}</a></li>
                        {% endif %}
                    {% endfor %}
                    <li>
                        {% if page_obj.has_next %}
                            <a href="/?page={{ page_obj.next_page_number }}">&raquo;</a>
                        {% else %}
                            <a href="#">&raquo;</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>

    <!-- /.container -->

    <!-- jQuery -->
    <script src="../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>

    <!-- jquery cokie and naverlogin js for naver id login function-->

    <script type="text/javascript" charset="utf-8" src="../static/js/jquery_cookie/jquery.cookie.js"></script>
    <script type="text/javascript" charset="utf-8" src="../static/naver_login/naverLogin_latest.js"></script>

</body>
</html>
