<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Title</title>
    <!-- Bootstrap Core CSS -->
    <link href="../../static/css/realtime_bidding.css" rel="stylesheet">
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->

    <link href="../../static/css/my_page.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body >
{% include "header.html" %}

<div class="container_mypage">
    <div id="page_left">
        <h1 align="center"> 내가 등록한 경매품</h1><br>
        <table class="table table-hover">
            <colgroup>
                <col style="width:25%;">
                <col style="width:45%">
                <col style="width:15%">
                <col style="width:15%">
            </colgroup>
            <tr>
                <th>이미지</th>
                <th>상품 정보</th>
                <th>낙찰 가격</th>
                <th>상태</th>
            </tr>
            {% for sell_pro in sell_product %}
            <tr>
                <td style="word-break: break-all;">
                    <a href="http://127.0.0.1:8000/branch/bidding_info/{{ sell_pro.product_id }}"><img class="img-responsive" src="{{ sell_pro.pro_image|cut:'realtime_bidding' }}" alt="" style="width:100%;"></a>
                </td>
                <td style="word-break: break-all;">
                    {{ sell_pro.information }}
                </td>
                <td style="word-break: break-all;">
                    {{ sell_pro.bidding_price }} 원
                </td>
                <td style="word-break: break-all;">
                    {% if sell_pro.bidding_state == 1 %}
                        경매 진행중
                    {% elif sell_pro.bidding_state == 2 %}
                        입금 확인중
                    {% elif sell_pro.bidding_state == 3 %}
                        거래 완료
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div id="page_right">
        <h1 align="center"> 내가 최종 입찰한 경매품</h1><br>
        <table class="table table-hover">
            <colgroup>
                <col style="width:25%;">
                <col style="width:45%">
                <col style="width:15%">
                <col style="width:15%">
            </colgroup>
            <tr>
                <th>이미지</th>
                <th>상품 정보</th>
                <th>낙찰 가격</th>
                <th>상태</th>
            </tr>
            {% for buy_pro in buy_product %}
            <tr >
                <td style="word-break: break-all;">
                    <a href="http://127.0.0.1:8000/branch/bidding_info/{{ buy_pro.product_id }}"><img class="img-responsive" src="{{ buy_pro.pro_image|cut:'realtime_bidding' }}" alt="" style="width:100%;"></a>
                </td>
                <td style="word-break: break-all;">
                    상품명 : {{ buy_pro.product_name  }} <br>
                    {{ buy_pro.information }}
                </td>
                <td style="word-break: break-all;">
                    {{ buy_pro.bidding_price }} 원
                </td>
                <td style="word-break: break-all;">
                    {% if buy_pro.bidding_state == 1 %}
                        거래진행중
                    {% elif buy_pro.bidding_state == 2 %}
                        입금확인중
                    {% elif buy_pro.bidding_state == 3 %}
                        거래완료
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>


<!-- jQuery -->
    <script src="../../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../static/js/bootstrap.min.js"></script>

</body>
</html>