<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../../static/css/realtime_bidding.css" rel="stylesheet">
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
{% include "header.html" %}
<a href="http://127.0.0.1:8000/branch/register">회원가입하기</a><br>
<br> 네이버 아이디를 이용해 가입하시려면 아래 버튼을 클릭해 주세요!
<div id="naver_id_login"></div>


<script src="../../static/js/jquery.js"></script>
<script type="text/javascript" charset="utf-8" src="../../static/js/jquery_cookie/jquery.cookie.js"></script>
<script type="text/javascript" charset="utf-8" src="../../static/naver_login/naverLogin_latest.js"></script>
<script type="text/javascript">
    var naver_id_login = new naver_id_login("sxBMyMNzazWu83yKLKq8", "http://127.0.0.1:8000/branch/register");
    var state = naver_id_login.getUniqState();
    naver_id_login.setButton("white", 3, 50);
    naver_id_login.setState(state);
    naver_id_login.init_naver_id_login();

</script>
</body>
</html>