<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../../static/css/my_page.css" rel="stylesheet">
    <link href="../../static/css/realtime_bidding.css" rel="stylesheet">
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
{% include "header.html" %}
<div id="naver_id_login"></div>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">회원가입 페이지
            <small>입력하신 이메일은 아이디로 이용됩니다!</small>
        </h1>
    </div>
</div><br><br>
<form action="." method="post" enctype="multipart/form-data" class="form-horizontal">
    {% csrf_token %}

    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-6">
            <input type="email" class="form-control" id="id_email" placeholder="Email" name="email">
        </div>
    </div>

    <div class="form-group naver_id">
        <label for="inputEmail3" class="col-sm-2 control-label">Naver_id</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="id_naver_id" placeholder="naver id" name="naver_id">
        </div>
    </div>

    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">name</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="id_name" placeholder="name" name="name">
        </div>
    </div>

    <div class="form-group naver_form">
        <label for="inputEmail3" class="col-sm-2 control-label">password</label>
        <div class="col-sm-6">
            <input type="password" class="form-control" id="id_password" placeholder="password" name="password">
        </div>
    </div>

    <div class="form-group naver_form">
        <label for="inputEmail3" class="col-sm-2 control-label">password_check</label>
        <div class="col-sm-6">
            <input type="password" class="form-control" id="id_password_check" placeholder="password_check" name="password_check">
        </div>
    </div>

    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Phone_num</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="id_phone_num" placeholder="Phone_number" name="phone_num">
        </div>
    </div>

    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Address</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="id_address" placeholder="address" name="address">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>

</form>
</body>
</html>
{% include "register_script.html" %}

