<script src="../../static/js/jquery.js"></script>
<script type="text/javascript" charset="utf-8" src="../../static/js/jquery_cookie/jquery.cookie.js"></script>
<script type="text/javascript" charset="utf-8" src="../../static/naver_login/naverLogin_latest.js"></script>
<script type="text/javascript">
    $('.naver_id').hide();
    var naver_id_login = new naver_id_login("sxBMyMNzazWu83yKLKq8", "http://127.0.0.1:8000/branch/register");
    var state = naver_id_login.getUniqState();
    naver_id_login.setButton("white", 3, 50);
    naver_id_login.setState(state);
    naver_id_login.get_naver_userprofile("a()");

    function a (){
        var id = naver_id_login.getProfileData("id");
        var name = naver_id_login.getProfileData("name");
        var email = naver_id_login.getProfileData("email");
        $('#id_naver_id').val(id);
        $('#id_name').val(name);
        $('#id_email').val(email);
        $('#id_password').val(id);
        $('#id_password_check').val(id);
        //$('.naver_form').hide();
    }
</script>